html{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body{
    display: flex;
    align-content: center;
    align-items: center;
}

.card-bottom-creation div span:nth-child(2){
    font-weight: 300;
    color: var(--White);
}


card{
    height: 540px;
}
